<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>UserAdmin.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>UserAdmin.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectOrderServlet</servlet-name>
    <servlet-class>ShopServlet.SelectOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>ShopServlet.ShopServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectProductServlet</servlet-name>
    <servlet-class>ShopServlet.SelectProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectProImgServlet</servlet-name>
    <servlet-class>ShopServlet.SelectProImgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddShopCarServlet</servlet-name>
    <servlet-class>ShopServlet.AddShopCarServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OutServlet</servlet-name>
    <servlet-class>UserAdmin.OutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FinshGoodsServlet</servlet-name>
    <servlet-class>ShopServlet.FinshGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserShowServlet</servlet-name>
    <servlet-class>AdminServlet.UserShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>UserAdmin.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductShowServlet</servlet-name>
    <servlet-class>AdminServlet.ProductShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyProductServlet</servlet-name>
    <servlet-class>AdminServlet.ModifyProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyCateServlet</servlet-name>
    <servlet-class>AdminServlet.ModifyCateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CategoryShowServlet</servlet-name>
    <servlet-class>AdminServlet.CategoryShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderShowServlet</servlet-name>
    <servlet-class>AdminServlet.OrderShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DProductServlet</servlet-name>
    <servlet-class>AdminServlet.DProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DCateServlet</servlet-name>
    <servlet-class>AdminServlet.DCateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderDetailShowServlet</servlet-name>
    <servlet-class>AdminServlet.OrderDetailShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AFGoodsServlet</servlet-name>
    <servlet-class>AdminServlet.AFGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductAddServlet</servlet-name>
    <servlet-class>AdminServlet.ProductAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CateDetailShowServlet</servlet-name>
    <servlet-class>AdminServlet.CateDetailShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCateServlet</servlet-name>
    <servlet-class>AdminServlet.AddCateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCateShowServlet</servlet-name>
    <servlet-class>AdminServlet.AddCateShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>ShopServlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>ShopServlet.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateCarServlet</servlet-name>
    <servlet-class>ShopServlet.UpdateCarServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopSelectServlet</servlet-name>
    <servlet-class>ShopServlet.ShopSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FinshOrderServlet</servlet-name>
    <servlet-class>ShopServlet.FinshOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaleServlet</servlet-name>
    <servlet-class>AdminServlet.SaleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProductShowServlet</servlet-name>
    <servlet-class>AdminServlet.AddProductShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProDetailServlet</servlet-name>
    <servlet-class>AdminServlet.ProDetailShowServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HotLowServlet</servlet-name>
    <servlet-class>ShopServlet.HotLowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectCommentServlet</servlet-name>
    <servlet-class>ShopServlet.SelectCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowCommentServlet</servlet-name>
    <servlet-class>ShopServlet.ShowCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <servlet-class>ShopServlet.UpdateCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentShowServlet</servlet-name>
    <servlet-class>AdminServlet.CommentShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>AdminServlet.UpdateAdminServlet</servlet-class>
  </servlet>

 



 

  







  























  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectOrderServlet</servlet-name>
    <url-pattern>/SelectOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/ShopServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectProductServlet</servlet-name>
    <url-pattern>/SelectProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectProImgServlet</servlet-name>
    <url-pattern>/SelectProImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddShopCarServlet</servlet-name>
    <url-pattern>/AddShopCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutServlet</servlet-name>
    <url-pattern>/OutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FinshGoodsServlet</servlet-name>
    <url-pattern>/FinshGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductShowServlet</servlet-name>
    <url-pattern>/ProductShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyProductServlet</servlet-name>
    <url-pattern>/ModifyProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyCateServlet</servlet-name>
    <url-pattern>/ModifyCateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryShowServlet</servlet-name>
    <url-pattern>/CategoryShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderShowServlet</servlet-name>
    <url-pattern>/OrderShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DProductServlet</servlet-name>
    <url-pattern>/DProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DCateServlet</servlet-name>
    <url-pattern>/DCateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetailShowServlet</servlet-name>
    <url-pattern>/OrderDetailShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AFGoodsServlet</servlet-name>
    <url-pattern>/AFGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductAddServlet</servlet-name>
    <url-pattern>/ProductAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CateDetailShowServlet</servlet-name>
    <url-pattern>/CateDetailShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCateServlet</servlet-name>
    <url-pattern>/AddCateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCateShowServlet</servlet-name>
    <url-pattern>/AddCateShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <url-pattern>/DeleteCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCarServlet</servlet-name>
    <url-pattern>/UpdateCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopSelectServlet</servlet-name>
    <url-pattern>/ShopSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FinshOrderServlet</servlet-name>
    <url-pattern>/FinshOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaleServlet</servlet-name>
    <url-pattern>/SaleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductShowServlet</servlet-name>
    <url-pattern>/AddProductShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProDetailServlet</servlet-name>
    <url-pattern>/ProDetailShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotLowServlet</servlet-name>
    <url-pattern>/HotLowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCommentServlet</servlet-name>
    <url-pattern>/SelectCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowCommentServlet</servlet-name>
    <url-pattern>/ShowCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <url-pattern>/UpdateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentShowServlet</servlet-name>
    <url-pattern>/CommentShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
